<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34768/Clientes.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientes" contract="ClientesWS.IClientes"
                name="BasicHttpBinding_IClientes" />
        </client>
    </system.serviceModel>
</configuration>