<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34768/ClientesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientesService"
                contract="WCFClientes.IClientesService" name="BasicHttpBinding_IClientesService" />
        </client>
    </system.serviceModel>
</configuration>